@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Kodchasan');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Gruppo');
/* CSS Document */

/* Browser/CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	background-color: #E6E6E6;
}




/* Her starter mit eget stylesheet */
body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color: #EEEEEE;
}
.listenav a{
	text-decoration: none;
	color: black;
	float: right;
}
.listenav a :hover{
	color: #df9b67;
}

ul {
	text-align: center;
	font-family: 'Kodchasan', sans-serif;
	display: inline-block;
	list-style-type: none;
	width: 93%;
	height: 2px;
	margin-top: 30px;
}
li {
	display: inline;
	padding-right: 10px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
}


/*LOGO STYLING SLASH TILBAGE KNAP*/
.logo {
	float: left;
	margin-top: auto;
	}
.logo img{
	position: fixed;
	width: 40px;
	height: auto;
	margin-left: 5%;
}




/*CONTAINERERE*/

.daugaarddesigncontainer {
	width: 100%;
	height: auto;
	margin-top: 100px;
	background-image: url("logo/baggrundhjem.png");
	background-size:contain;
}
.ommigcontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 80px;
	margin-left: 3%;
	margin-right: 20%;
	float: right;
}

.fardighedercontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 80px;
	padding-bottom: 10px;
	margin-left: 15%;
	float: left;
}

.portratcontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 160px;
	margin-left: 3%;
	margin-right: 20%;
	float: right;
}

.inspirationcontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 120px;
	padding-bottom: 30px;
	margin-left: 17%;
	margin-bottom: 120px;
	float: left;

}

/*CONTAINERERE TIL OPGAVER*/

.intro {
	width: 100%;
	height: auto;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 70px;
	background-image: url("baggrunddiv.png");

	
}

.redesigns {
	width: 90%;
	height: auto;
	background-size: auto;	
	margin-top: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%
}



.dromdinportfoliocontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-left: 18%;
	margin-right: 2%;
	float: left;
}

.bygdinportfoliocontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 2%;
	margin-right: 18%;
	float: right;
}

.bygenappcontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 60px;
	padding-top: 10px;
	padding-bottom: 70px;
	margin-left: 18%;
	margin-right: 2%;
	float: left;
}

.sweetbotcontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 52px;
	padding-top: 10px;
	padding-bottom: 70px;
	margin-left: 2%;
	margin-right: 18%;
	float: right;
}



/*COINTAINERE PORTFOLIO*/

.burgercontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 18%;
	margin-right: 2%;
	float: left;
}

.vejretcontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 18%;
	margin-left: 2%;
	float: right;
}

.logoercontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 18%;
	margin-right: 2%;
	float: left;
}

.catcontainer {
	width: 30%;
	height: auto;
	background-size: auto;	
	margin-top: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 18%;
	margin-left: 2%;
	float: right;
}


/*BILLEDER I CONTAINERE*/
.portrat img {
	width: 65%;
	margin-left: 17%;
	margin-right: auto;
	margin-top: 6%
}

.logoicontainer img{
	width: 30%;
	margin-top: 2px;
	margin-bottom: 20px;
	margin-left: 33%;
}

.fardigheder img {
	width: 50%;
	margin-left: 25%;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 30px;
}


.gallerivejret {
	width: 80%;
	margin-left: 10%;
}

.gallerivejret img {
	width: 350px;
	height: auto;
	padding: 10px;
	margin-left: 2%;
	margin-top: 30px;
	margin-bottom: 60px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallerivejret img:hover { 
	filter: grayscale(0%);
	transform: scale(1.08);
}

.galleriburger img{
	width: 252px;
	height: auto;
	padding: 15px;
	margin-left: 20%;
	margin-top: 20px;
	filter: grayscale(100%);
	transition: 1s;
}

.galleriburger img:hover { 
	filter: grayscale(0%);
	transform: scale(1.08);
}

.gallerilogoer img {
	width: 70%;
	height: auto;
	padding: 10px;
	margin-left: 12%;
	margin-top: 30px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallerilogoer img:hover { 
	filter: grayscale(0%);
	transform: scale(1.08);
}

.gallericat img {
	width: 65%;
	height: auto;
	padding: 5px;
	margin-left: 15%;
	margin-top: 2px;
	margin-bottom: 100px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallericat img:hover { 
	filter: grayscale(0%);
	transform: scale(1.08);
}


/*OVERSKRIFTER HJEM*/
.overskrifter, .overskrifter1, .overskrifter2, .overskrifter3, .overskrifter4{
	margin-top: 20px;
	font-family:'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 25px;
}

/*OVERSKRIFTER OPGAVER*/

.topskrifter {
	margin-top: 120px;
	font-family:'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 50px;
	margin-left: 0.5%
}

.overskriftintro {
	margin-top: 40px;
	font-family:'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 30px;
}

.overskriftgantt {
	margin-top: 20px;
	font-family:'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 30px;
}

.redesignoverskrift {
	margin-top: 20px;
	font-family:'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 30px;
}

.dromdinportfoliooverskrift, .bygdinportfolio {
	margin-top: 40px;
	font-family:'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 22px;
}
.bygenappoverskrift, .sweetbotoverskrift {
	margin-top: 70px;
	font-family:'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 22px;
}


/*BRØDTEKST I HJEM*/
.slogantekst {
	text-align: center;
	font-size: 18px;
	line-height: 1.2;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20%;
	margin-right: 20%;
}
.slogantekst1, .slogantekst2, .slogantekst3 {
	text-align: left;
	font-size: 17px;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
}


/*BRØDTEKST PORTFOLIO*/

.vejrettekst, .burgertekst, .logoertekst {
	text-align:justify;
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
}

.cattekst {
	text-align:justify;
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: 2px;
	margin-left: 20%;
	margin-right: 20%;
}


/*BRØDTEKST OPGAVER*/

.introtekst {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 16%;
	
}

.introtekst1 {
	text-align:center;
	font-size: 17px;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: 20%;
}

.dromdinportfoliotekst, .bygenapptekst, .bygdinportfoliotekst, .sweetbottekst {
	text-align:justify;
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
}



/*CITATER*/
.citat {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	margin-top: 3px;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
}

.citattopskrift {
	margin-left: 1%;
}

/*Knapper*/
.seprojektknap {
	height: 30px;
	width: auto;
	margin-left: 41%;
	margin-bottom: 5%;
	margin-top: 10%;
}

.rapportknap {
	height: 30px;
	width: auto;
	margin-left: 47%;
}


/*KONTAKT*/
.form-control {
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid white;
	color: white;
	font-size: 18px;
	margin-bottom: 16px;
}

/*FOOTER LOGOER STYLING*/
.facebook {
	padding-left: 5px;
	padding-right: 5px;
}
.insta  {
	padding-left: 5px;
	padding-right: 5px;
}
.linkedin  {
	padding-left: 5px;
	padding-right: 5px;
}
.footerul {
	height: 50px;
	width: 100%;
}
.footerlogo img{
	height: 50px;
	width: auto;
}

footer {
	margin-top: 50px;
	height: 30px;
	width: auto;
}